.background {
    color: $color-backgrounds;
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: end;

    .container {
        padding-bottom: 20px;

        h1 {
            color: $yellow;
            font-size: 5rem;
            line-height: 105%;
            margin-bottom: 0;
        }

        p {
            font-family: $font-highlight;
            margin-top: 0;
        }
    }
}

.jumbotron {
    @include backImage('../images/water.jpg');
    margin-top: 0;
}

.bridge {
    @include backImage('../images/bridge.jpg', 
        500px, top center);
}